$msg-top-height: 4em;

@import 'side';
@import 'convo';

body {
  ---app-height: 100vh;
  overflow: hidden;
}

%msg-input-focus {
  outline: 0;
  border-color: $c-bg-zebra2;

  &:focus {
    border-color: $m-secondary_bg--mix-50;
  }
}

.msg-app {
  display: flex;
  flex-flow: row nowrap;
  height: calc(var(---app-height) - $site-header-height);

  @media (min-width: at-least($small)) {
    height: calc(var(---app-height) * 0.98 - $site-header-height);
  }

  overflow: hidden;

  &__search {
    h2 {
      font-size: 1.3em;
      font-weight: bold;
      margin: 1.2em 0 0.8em 2em;
      text-transform: uppercase;
      color: $c-brag;
    }
  }
}

.msg-app__convo__msgs__content {
  mine, their {
    position: relative;
    
    
    action {
      display: none;
      position: absolute;
      top: 5px;
      @include inline-end(0);
      cursor: pointer;
      margin-inline-end: 3px;
      padding: 1px 5px;
      opacity: 0.7;
      color: $c-accent;  

      &:hover {
        opacity: 1;
      }
    }
    
    // Show delete button on hover
    &:hover action {
      display: block;
      text-shadow:
        0 0 2px $c-bg-box,
        0 0 5px $c-bg-box,
        0 0 10px $c-bg-box;
    }
  }
  
  .deleted-text {
    font-style: italic;
    opacity: 0.5;
  }
}